networks:
  internal_backend:
    internal: true
  public:
    internal: false

services:
  nginx:
    image: nginx:1.27-alpine
    container_name: roomid-nginx
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ${LETSENCRYPT_PATH}:/etc/letsencrypt
      - ${CERTBOT_WWW_PATH}:/var/www/certbot
    networks:
      - public
      - internal_backend

  certbot:
    image: certbot/certbot:latest
    container_name: roomid-certbot
    volumes:
      - ${LETSENCRYPT_PATH}:/etc/letsencrypt
      - ${CERTBOT_WWW_PATH}:/var/www/certbot
    networks:
      - public

  certbot-renew:
    image: certbot/certbot:latest
    container_name: roomid-certbot-renew
    restart: unless-stopped
    volumes:
      - ${LETSENCRYPT_PATH}:/etc/letsencrypt
      - ${CERTBOT_WWW_PATH}:/var/www/certbot
    networks:
      - public
      - internal_backend
    entrypoint: sh -c "trap exit TERM; while :; do certbot renew --webroot -w /var/www/certbot; sleep 12h; done"


  backend:
    image: ghcr.io/room-id/room-id-backend:latest
    container_name: roomid-backend
    restart: unless-stopped
    depends_on:
      - mongo
      - qdrant
    expose:
      - "8080"
    environment:
      MONGO_URI: "mongodb://mongo:27017/roomid"
      QDRANT_URL: "http://qdrant:6333"
      GEOCODE_API_KEY: ${GEOCODE_API_KEY}
      UPLOAD_DIR: "/app/uploads"
      HOME: "/app"
    volumes:
      - ${UPLOADS_PATH}:/app/uploads
      - ./model-cache:/app/.cache
    networks:
      internal_backend:
        aliases:
          - backend-internal
      public: {}


  mongo:
    image: mongo:7
    container_name: roomid-mongo
    restart: unless-stopped
    volumes:
      - ${MONGO_PATH}:/data/db
    environment:
      MONGO_INITDB_DATABASE: roomid

    command: [ "mongod", "--bind_ip_all" ]
    ports:
      - "127.0.0.1:27017:27017"
    networks:
      - internal_backend

  qdrant:
    image: qdrant/qdrant:latest
    container_name: roomid-qdrant
    restart: unless-stopped
    volumes:
      - ${QDRANT_PATH}:/qdrant/storage
    ports:
      - "127.0.0.1:6333:6333"
    networks:
      - internal_backend
